target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
# Compiled
out/
target/
*.class

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
